wget
appdirs
tempdir
multipledispatch
numpy
tqdm
termcolor
fire
rich
openai
tree_sitter>=0.22.0
tree-sitter-python
datasets
psutil
scikit-learn
accelerate

# vllm
vllm

# anthropic
anthropic

# google
google-generativeai

# transformers
transformers
sentence-transformers


# bedrock
boto3